/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-image: url('/static/cripto/images/Fondo.jpg');
  background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el área del body */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  background-attachment: fixed;
  padding-top: 50px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del body */
  }

  .container {
    max-width: auto;
    margin: 90px auto 0;
    margin-top: 90px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  h1 {
    color: #fff;
    font-size: 50px;
    margin-left: 0;
  }
  p {
      color: #fff;
      font-size: 15px;
      line-height: 1.5;
      margin-left: 0;
  }
  .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      margin-top: 10px;
  }
  .btn:hover {
      background-color: #0056b3;
  }


a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0,0.5);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #414141;
}

.nav-links a {
  color: #fff;
  
}



/* BOTON DE REGISTRO */

.register-button {
  background-color: #007BFF; /* Fondo celeste */
  padding: 5px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 5px; /* Agrega bordes redondeados si lo deseas */
  text-align: center; 
  /* Otros estilos específicos para el botón de registro */
}

.register-button a {
  color: #fff; /* Texto blanco */
  text-decoration: none; /* Quita el subrayado del enlace */
}


/* LOGO */
.logo {
  font-size: 32px;
 
}

.logo img {
  width: 250px; /* ajusta el ancho según sea necesario */
  height: auto; /* permite que la altura se ajuste automáticamente para mantener la proporción */
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  border: 1px solid #e81cff; /* Estilo del borde al hacer hover */
}

.menu li {
  padding: 5px 14px;
  border: 1px solid #414141; /* Estilo inicial del borde */
  border-radius: 5px;
  transition: border 0.3s ease; /* Transición para el borde */
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: rgb(0, 0, 0);
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {

  .logo img {
    width: 250px;
    height: auto;
  }

  body {
    background-position: center; /* Centra el fondo en dispositivos móviles */
  }

  .container {
    padding: 20px;
    margin-top: 60px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    text-align: left; /* Centra el texto para dispositivos móviles */
  }

  p {
    font-size: 14px;
    text-align: center; /* Centra el texto para dispositivos móviles */
  }

  .btn {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  
 .menu {
    display:none;
    position: absolute;
    background-color:rgb(0, 0, 0, 0.8);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 40px;
  }

  .register-button {
    margin-top: 12px;
  }

  .menu li:hover {
    
    background-color:rgb(0, 0, 0, 0.8);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: rgb(0, 0, 0);
  }


  }
  .card {
    max-width: 350px;
    background-color: rgba(13, 2, 2, 0);
    color:white;
    margin: 10px;
  }

  .card-body {
      /* Ajusta el espaciado del texto según sea necesario */
      padding: 10px;
  }

  .content-container {
    margin-top: 0px; /* Ajusta el valor según sea necesario para dar suficiente espacio después del navbar */
    
  }

  .container_con {
    max-width: 1000px; /* Ajusta el ancho máximo del contenedor según sea necesario */
    margin: 0px auto; /* Centra el contenedor horizontalmente */
    padding: 0px;
    display: flex; /* Utiliza flexbox para el diseño de los elementos internos */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
}

















.form-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); /* Gradiente lineal con color transparente */
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
  margin-top: 100px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}





.card-with-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); /* Gradiente lineal con color transparente */
  border: 2px solid transparent;
  border-radius: 16px;
}

.square-img {
  height: 18rem; 
  object-fit: cover; 
}
.card {
  margin-top: 100px;
  transition: border-color 0.3s ease;
  border-radius: 16px; 
}

.card img {
  border-radius: 16px;
}

.card:hover {
  border-color: #e81cff;
}





.container_card {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten automáticamente a la pantalla */
  justify-content: center;
  padding: 20px; /* Añade espacio entre las tarjetas y el borde de la ventana */
  margin-top: 80px; 
}
.card_b {
  flex: 1 1 250px;
  max-width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Agrega una transición al color de fondo y al color del borde */
  border: 1px solid #414141; /* Estilo inicial del borde */
}

.card_b:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: #e81cff; /* Cambia el color del borde al hacer hover */
}
.card_b img {
  max-width: 100px; /* Define el ancho máximo de las imágenes dentro de las tarjetas */
  max-height: 100px; /* Define la altura máxima de las imágenes dentro de las tarjetas */
  margin-bottom: 10px; /* Añade espacio entre la imagen y el texto */
}
.card_b p {
  color: #fff; /* Cambia el color del texto dentro de las tarjetas a negro */
}



html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

.content_footer {
  flex: 1;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-left img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el texto */
}
.footer-right p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  text-align: right; /* Alinea el texto a la derecha */
  font-size: 13px;

}




.table-dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.table-dark th,
.table-dark td {
  border: 1px solid #414141;
}

.table-dark thead th {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
}

.table-dark tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

.container {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem;
}



/* Estilos para centrar la tabla y ajustar su apariencia */
.table-responsive {
  display: flex;
  justify-content: center;
}

.table {
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centrar la tabla horizontalmente */
}

.table-dark th,
.table-dark td {
  text-align: center;
  vertical-align: middle;
}

.table-dark th {
  background-color: #343a40;
  color: white;
}

.table-dark tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mt-5 {
  margin-top: 3rem;
}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .step-links {
  display: flex;
  list-style: none;
}

.pagination .step-links a,
.pagination .step-links span {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.pagination .step-links .current {
  background-color: #007bff;
  color: white;
}







/* Estilos para centrar la tabla y ajustar su apariencia */
.table-responsive {
  display: flex;
  justify-content: center;
}

.table {
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin: auto;
}

.table th, .table td {
  text-align: center; /* Centra el texto en las columnas */
  padding: 10px; /* Espacio interno de las celdas */
}

.table-dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.table-dark th, .table-dark td {
  border: 1px solid #414141;
}

.table-dark thead th {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
}

.table-dark tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .step-links {
  display: flex;
  list-style: none;
}

.pagination .step-links a, .pagination .step-links span {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.pagination .step-links .current {
  background-color: #007bff;
  color: white;
}


